# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\gaoyi\Desktop\玩游戏学算法\n1pr8g\07-Mine-Sweeper\Chapter-07-Completed-Codes\Mine-Sweeper-Core\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
