# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\gaoyi\Desktop\玩游戏学算法\n1pr8g\05-Maze-Solver\Chapter-05-Completed-Codes\Non-Recursive-DFS-Maze-Solver\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
